@import url('https://rsms.me/inter/inter.css');
html {
	font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
	* {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	background: #f8f8f8;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
	cursor: pointer;
}

.stage {
	margin-bottom: 2em;
}

.stage h4 {
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: 1em;
}

.text-sub {
	color: #6c757d;
	font-size: 80%;
	font-weight: 400;
	margin-top: 0.25em;
}

.stage h4 span.number {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	color: #fff;
	background-color: #f3be14;
	margin-right: 0.5rem;
}
